<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html th:lang="${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head:: head">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container min-vh-100">
    <div th:replace="fragments/messages :: messages"></div>

    <h1 class="mt-5" th:text="#{sections}"></h1>

    <div class="row">
        <div th:replace="fragments/buttons :: add_section"></div>
    </div>

    <table
            th:replace="fragments/table :: table (
                        columnNames=${ { 'table.id', 'table.name', 'table.description', 'table.actions' } },
                        values=${ { 'id', 'name', 'description'} },
                        items=${sections},
                        actions=~{ :: .table-actions})">
        <tbody>
        <tr>
            <td class="table-actions">
                <a th:href="@{/a/sections/{id}/details(id=${item.id})}"
                >edit</a>
                <a th:href="@{/a/sections/{id}/delete(id=${item.id})}"
                >delete</a>
            </td>
        </tr>

        </tbody>
    </table>


</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>