<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
</head>

<body>
    <footer th:fragment="footer" class="page-footer primary">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Project Forum</h5>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li>
                            <a class="white-text" th:href="@{https://github.com/DawidStankiewicz/forum}" target="_blank">Project Forum on GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container white-text center-align">&copy; 2016-2021 Dawid Stankiewicza</div>
        </div>


    </footer>


</body>
</html>
