<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="description" content="forum"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Forum</title>

  <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
  <link type="text/css" rel="stylesheet" th:href="@{/css/application.css}"/>
  <link type="text/css" rel="stylesheet" th:href="@{/sass/application.css}"/>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

</head>

</html>
