<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
</head>
<body>

<div th:fragment="modal_user_login_form" id="modal-user-login" class="modal">
  <div class="modal-content black-text">

    <h5 class="center">Sign in</h5>

    <form name='login' th:action='@{/login}' method="POST">

      <!-- USERNAME -->

      <div class="row">
        <div class="input-field col s12">
          <input id="username-signin" name="username" type="text" class="validate"/>
          <label for="username-signin">Username</label>
        </div>
      </div>

      <!-- PASSWORD -->

      <div class="row">
        <div class="input-field col s12">
          <input id="password-signin" name="password" type="password" class="validate"/>
          <label for="password-signin" class="active">Password</label>
        </div>
      </div>

      <!-- REMEMBER ME -->

      <div class="row">
        <p>
          <label>
            <input type="checkbox" name="remember-me" id="remember-me">
            <span>Remember me</span>
          </label>
        </p>
      </div>

      <div class="row">
        <div class="col s12">
          <input class="btn waves-effect waves-light right" type="submit"
                 name="action" value="Login"/>
        </div>
      </div>

    </form>
  </div>
</div>

</body>
</html>