<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head">
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container">
        <div th:replace="fragments/messages :: messages"></div>
        <div class="row">
            <div class="col s12">


                <!-- SECTIONS -->

                <div class="row" id="sections">
                    <div class="col s12">
                        <div class="row">
                            <div class="col s6">
                                <h4 th:text="#{sections}">Sections</h4>
                            </div>
                            <div class="col s6">
                                <a sec:authorize="hasAnyRole('ADMIN', 'HEAD_ADMIN')" th:href="@{/section/new}" th:text="#{new.section}"
                                    class="right waves-effect waves-light btn"></a>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="row" th:each="section : ${sections}">
                            <div class="col s12">
                                <div class="section">
                                    <a th:href="@{/section/} + ${section.id}" th:text="${section.name}"></a>
                                </div>
                                <div class="divider"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- RECENT TOPICS -->

        <div class="row" th:if="${topics.size() > 0}" id="recent-topics">
            <div class="col s12">
                <div class="row">
                    <div class="col s12">
                        <h4 th:text="#{recent.topics}">Recent topics</h4>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="row" th:each="topic : ${topics}">
                            <div class="col s12">
                                <div class="section">
                                    <a th:href="@{/topic/} + ${topic.id}" th:text="${topic.user.username} + ': ' + ${topic.title}"></a>
                                    <span class="right" th:text="${#calendars.format(topic.creationDate, 'dd MMMM yyyy H:m')}"></span> <span class="truncate"
                                        th:text="${topic.content}"></span>
                                </div>
                                <div class="divider"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- RECENT POSTS -->

        <div class="row" th:if="${posts.size() > 0}" id="recent-posts">
            <div class="col s12">
                <div class="row">
                    <div class="col s12">
                        <h4 th:text="#{recent.posts}">Recent postss</h4>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="row" th:each="post : ${posts}">
                            <div class="col s12">
                                <div class="section">
                                    <span th:text="${post.user.username} + ' ' + #{reply.to}"></span>
                                    <a th:href="@{/topic/} + ${post.topic.id}" th:text="${post.topic.title}"></a>
                                    <span class="right" th:text="${#calendars.format(post.creationDate, 'dd MMMM yyyy H:m')}"></span> <span class="truncate"
                                        th:text="${post.content}"></span>
                                </div>
                                <div class="divider"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
