<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html th:lang="${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/head :: head">
</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">
  <h3>Your account has been activated!</h3>

  <p>Now you can login <a href="#modal-user-login" class="modal-trigger">here</a></p>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>