<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html th:lang="${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/head:: head">
</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container pt-5 min-vh-100">
    <div th:replace="fragments/messages :: messages"></div>

    <!-- SECTIONS -->
    <div class="row">
        <div class="col">
            <div class="col">
                <h1 th:text="#{sections}">Sections</h1>
            </div>

            <div class="row">
                <div th:replace="fragments/buttons :: add_section"></div>
            </div>

            <div class="row row-cols-auto" th:if="${sections.size() > 0}">
                <div class="col my-3" th:each="section : ${sections}">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" alt="section image"
                             src="https://unsplash.com/photos/1_CMoFsPfso/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNzIyNTQzODU3fA&force=true&w=640"/>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title" th:text="${section.name}"></h5>
                        <p class="card-text" th:text="${section.description}"></p>
                        <a class="btn btn-primary" th:href="@{/sections/} + ${section.id}">View section</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- RECENT TOPICS -->

    <th:block th:if="${topics.size() > 0}">
        <h2 th:text="#{recent.topics}"></h2>

        <table class="table">
            <tbody>
            <tr th:each="topic : ${topics}">
                <td>
                    <h4>
                        <a class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                           th:href="@{/topics/} + ${topic.id}" th:text="${topic.title}"></a>
                    </h4>
                    <div class="text-end">
                        <span th:text="'@' + ${topic.user.username}"></span> to
                        <a th:href="@{/sections/} + ${topic.section.id}"
                           th:text="${topic.section.name}"></a>,
                        <span th:text="${topic.creationDate} ? ${#temporals.format(topic.creationDate, 'dd MMMM yyyy HH:mm')}"></span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </th:block>

    <th:block th:if="${topics.size() == 0}">
        <div class="my-2">
            <h2 th:text="#{recent.noTopics}">There are no topics yet.</h2>
            <a class="btn btn-primary" th:href="@{/topics/new}">Create new topic</a>
        </div>
    </th:block>

    <!-- RECENT POSTS -->

    <th:block th:if="${posts.size() > 0}">
        <h2 th:text="#{recent.posts}"></h2>

        <div class="mb-3" th:each="post : ${posts}">
            <div class="row">
                <div class="col-12 text-truncate" th:text="${post.content}">
                </div>
            </div>

            <div class="text-end text-muted">
                <span th:text="'@' + ${post.user.username}"></span> to
                <a class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                   th:href="@{/sections/} + ${post.topic.section.id}"
                   th:text="${post.topic.section.name}"></a> > <a
                    class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                    th:href="@{/topics/} + ${post.topic.id}"
                    th:text="${post.topic.title}"></a>,
                <span th:text="${post.creationDate} ? ${#temporals.format(post.creationDate, 'dd MMMM yyyy HH:mm')}"></span>
            </div>
        </div>


        <th:block th:if="${posts.size() == 0}">
            <div class="my-2">
                <h2 th:text="#{recent.noPosts}"></h2>
            </div>
        </th:block>

    </th:block>

    <!-- END RECENT POSTS -->
</div>

<footer th:replace="fragments/footer :: footer">

</footer>

</body>
</html>
