<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body onload="document.f.username.focus()">
    <div class="col s4">
        <a th:href="@{../}" class="waves-effect waves-light btn-large">
            <i class="material-icons left">arrow_back</i>Forum
        </a>
    </div>
    <div class="container">

        <div th:replace="fragments/messages :: messages"></div>

        <div class="row" style="padding-top: 10%">
            <div class="col s4">
                <div class="row"></div>
            </div>
            <div class="col s4">
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <form class="col s12" name='f' th:action='@{/login}' method="POST">
                                <div class="row">

                                    <!-- USERNAME -->

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="username" name="username" type="text" class="validate" />
                                            <label for="username">Username</label>
                                        </div>
                                    </div>

                                    <!-- PASSWORD -->

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="password" name="password" type="password" class="validate" />
                                            <label for="password" class="active">Password</label>
                                        </div>
                                    </div>

                                    <!-- REMEMBER ME -->

                                    <div class="row">
                                        <p>
                                            <input type="checkbox" name="remember-me" id="remember-me" />
                                            <label for="remember-me">Remember me</label>
                                        </p>
                                    </div>

                                    <input class="btn waves-effect waves-light" type="submit" name="action" value="Login" />

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js}"></script>
    <script>
					$(document).ready(function() {
						Materialize.updateTextFields();
					});
				</script>
</body>
</html>
