<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container">

        <div class="row" style="padding-top: 10%">
            <div class="col s4">
                <div class="row"></div>
            </div>
            <div class="col s4">

                <div class="row">
                    <div class="col s12">
                        <form class="col s12" name='f' th:action='@{/registration}' th:object="${newUser}" method="POST">
                            <div class="row">

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input th:field="*{email}" id="email" name='email' type="email" class="validate" />
                                        <label for="username">Email</label>
                                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="red-text">Invalid email!</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input th:field="*{username}" id="username" name='username' type="text" class="validate" />
                                        <label for="username">Username</label>
                                        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="red-text">Invalid username!</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input th:field="*{password}" id="password" name='password' type="password" class="validate" />
                                        <label for="password">Password</label>
                                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="red-text">Invalid password!</p>
                                    </div>
                                </div>

                                <input class="btn waves-effect waves-light" type="submit" name="action" value="Register" />

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
