<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html th:lang="${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head th:replace="fragments/head :: head" >
</head >
<body >
<nav th:replace="fragments/navbar :: navbar" ></nav >
<div class="container" >
    <div th:replace="fragments/messages :: messages" ></div >

    <div class="row"
         style="padding-top: 1rem" >
        <div class="col s12 m6 offset-m3 l4 offset-l4" >
            <div class="card-panel" >
                <div class="row" >
                    <div class="col s12" >
                        <h5 class="center-align"
                            th:text="#{login.formTitle}" >Log in</h5 >

                        <form class="col s12"
                              name='f'
                              th:action='@{/login}'
                              method="POST" >
                            <div class="row" >

                                <!-- EMAIL -->

                                <div class="row" >
                                    <div class="input-field col s12" >
                                        <input th:if="${email != null}"
                                               id="username"
                                               name="username"
                                               th:value="${email}"
                                               type="email"
                                               class="validate"
                                               required />
                                        <input th:if="${email == null}"
                                               id="username"
                                               name="username"
                                               type="email"
                                               class="validate"
                                               required
                                               autofocus />
                                        <label for="username"
                                               th:text="#{user.email}" >Email
                                        </label >
                                        <span class="helper-text"
                                              th:data-error="#{error.invalidEmail}"
                                              data-success="" ></span >
                                    </div >
                                </div >

                                <!-- PASSWORD -->

                                <div class="row" >
                                    <div class="input-field col s12" >
                                        <input th:if="${email != null}"
                                               id="password"
                                               name="password"
                                               type="password"
                                               class="validate"
                                               required
                                               autofocus />
                                        <input th:if="${email == null}"
                                               id="password"
                                               name="password"
                                               type="password"
                                               class="validate"
                                               required />
                                        <label for="password"
                                               class="active"
                                               th:text="#{user.password}" >Password
                                        </label >
                                    </div >
                                </div >

                                <button class="btn waves-effect waves-light right"
                                        type="submit"
                                        name="action"
                                        th:text="#{login.loginButton}" >
                                </button >

                            </div >
                        </form >
                    </div >
                </div >
            </div >
            <p class="center-align " >
                <span th:text="#{login.registerInstead.question}"
                      class="grey-text" ></span >
                <a th:href="@{/new-user}"
                   th:text="#{login.registerInstead.url}" ></a >
            </p >
        </div >
    </div >

</div >
<footer th:replace="fragments/footer :: footer" ></footer >
</body >
</html >