<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <table>
                    <tr>
                        <th>NAME</th>
                        <th>EMAIL</th>
                        <th>ROLES</th>
                    </tr>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.username}">Onions</td>
                        <td th:text="${user.email}">123</td>
                        <td th:text="${user.role}"></span></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
