<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head-bootstrap :: head">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container min-vh-100">

    <div class="row justify-content-md-center my-5">

        <div class="col col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5 th:text="#{section.new}"></h5>
                    </div>

                    <form name='f' th:action='@{/a/sections/new}' th:object="${newSection}" method="POST">
                        <div class="mb-3">
                            <div class="input-field col s12">
                                <label class="form-label" for="name" th:text="#{section.name}"></label>
                                <input th:field="*{name}" id="name" name='name' type="text" class="form-control"
                                       length="50" required/>
                                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">
                                    Incorrect
                                    name!</p>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="description" th:text="#{section.description}"></label>
                            <textarea th:field="*{description}" id="description" name='description'
                                      class="form-control" length="150"></textarea>
                            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                               class="text-danger">
                                Incorrect description!</p>
                        </div>

                        <div class="d-grid">
                            <input class="btn btn-primary" type="submit" name="action"
                                   th:value="#{page.new_section_form.create}"/>

                        </div>

                    </form>
                </div>
            </div>

        </div>

    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
